@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{

}
body {
    min-width: 1440px;
    padding: 64px 48px; ;
}

.wrapper_first{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 64px;
}
.wrapper_second{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 64px;
}
.imageWrap{
    width: calc(100% / 3 - 64px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
img{
    border-radius: 10px;
    background:  lightgray 50% / cover no-repeat;
    margin-bottom: 20px;
}
.bolt{

    margin-bottom: 15px;
    color:   #000 ;
    text-align: center;

    /* Text/1 strong */
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
}
p{
    color:  #3C3C43 ;
    text-align: center;

    /* Capital/1 strong */
    font-family: Inter, sans-serif ;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 15.6px */
    letter-spacing: 1.5px;
    text-transform: uppercase;

}

