@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    text-decoration: none;
}
body{
    width: 1440px;
    height: 3004px;
    padding: 0 50px;
    background: #1E1E1E;
}

ul{
    margin-top: 27px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color:white;
    gap: 27px;
}

li{
    width: 203px;
    height: 60px;
    color: #E9E3DC;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;



}
li:last-child{
    width: 203px;
    height: 60px;
    margin-right:51px;
    flex-shrink: 0;
    background: #B3A0CD;
    color: #1E1E1E;
    font-size: 18px;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
/*--------------------------------------main------------------------------------*/
main h1{
    width: 1255px;

    text-align: center;
    margin: 170px 93px 33px 92px;
    color: #E9E3DC;
    font-family: "Bowlby One", sans-serif;
    font-size: 107.088px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 95.198px */
    letter-spacing: -2.142px;
    text-transform: uppercase;
}

main div{
    width: 700px;
    height: 396px;
    position: relative;
    margin: 33px 370px 32px 370px;
}
#burger_main_right{
    width: 310.944px;
    height: 294.929px;
    flex-shrink: 0;
    margin-top: 66.8px;
}
#burger_main_left{
    width: 310.944px;
    height: 294.929px;
    flex-shrink: 0;
    margin-top: 66.8px;
}
#burger_main_center{
    width: 419.85px;
    height: 396px;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
    margin-left: 120px;
}

/*---------------------------------------about------------------------------------------*/

.about{
    width: 1340px;
    height: 369px;
    margin: 50px 0;
    border-radius: 30px;
    border: 4px solid #1E1E1E;
    background: #D1EF53;
    display: flex;
    box-sizing: border-box;

}
 .about_left{
     width: 533px;
     height: 186px;
     margin: 98px 28px 85px 109px;
    color: #1E1E1E;
    font-family: "Bowlby One", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 62.228px */
    letter-spacing: -1.4px;
    text-transform: uppercase;
}

.about_right{
    display: flex;
    flex-direction: column;
}
.about_right p {
    width: 521px;
    height: 75px;
    flex-shrink: 0;
    margin: 100px 149px 34px 0;
    color: #1E1E1E;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.896%;
    letter-spacing: -0.48px;
}
.about_right button{
    width: 176px;
    height: 60px;
    border: 4px solid #1E1E1E;
    background: #E9E3DC;
    box-shadow: 8px 8px 0 0 #000;
    color: #1E1E1E;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
}
section div:first-child{
    display:inline;
    margin-top: 64px ;
}
section div:first-child img:first-child{
    width: 650px;
    height: 753px;
    margin-right: 36px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 4px solid #E9E3DC;
}
section div:first-child img:last-child {
    width: 650px;
    height: 753px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 4px solid #E9E3DC;
}

section div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

section div:last-child img {
    width: 1340px;
    height: 503px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 4px solid #D9D9D9;
    margin-bottom: 64px;
    }
section div:last-child h3 {
    width: 895px;
    height: 142px;
    margin-bottom: 33px;

    color: #E9E3DC;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.896%; /* 71.328px */
    text-transform: uppercase;
}
section div:last-child button {
    width: 196px;
    height: 60px;
    margin-bottom: 36px;
    flex-shrink: 0;
    background: #D1EF53;
    color: #1E1E1E;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;

}