*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    width:100vw;
    height:100vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.box{
    width: 321px;
    height: 491px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
}


.box h3{
    color: #000;
    font-family: Inter,  sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.box p{
    width: 256px;
    color: #000;
    font-family: Inter,  sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.box div{
    position: absolute;
    top: -50px;
    z-index: 3;
}

img{
    width: 60px ;
    height: 60px;
    position: absolute;
    top: -30px;
    z-index: 3;
}
svg{
    position: absolute;
    z-index: 2;
    top: -50px;
}


